<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Page</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href='/images/weather.png' rel='icon' />
</head>

<body>


    <div class='main'>
        {{>header}}

        <p class='api-attribution'>This site uses data from <a href='https://www.mapbox.com' target='_blank'
                ref='noopener'>mapbox</a> and
            <a href='https://www.darksky.net' target='_blank' ref='noopener'>darksky</a></p>

        <img class="profilePic" src="/images/btBackseater.jpg" alt="me" />

    </div>


    {{>footer}}
</body>

</html>